<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hotel.mapper.UserMapper">

    <select id="getUserFriendList" resultType="com.hotel.pojo.entity.User">
    select * from user where user_id in
    <foreach collection="friends" item="user_id" separator="," open="(" close=")">
    #{user_id}
    </foreach>
    limit 100
    </select>

</mapper>